# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/

# ===============================
# Virtual Environments
# ===============================
.venv/
venv/
env/

# ===============================
# Logs
# ===============================
logs/
*.log

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/

# ===============================
# OS / Editor
# ===============================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ===============================
# Docker
# ===============================
*.tar

# ===============================
# Environment Variables
# ===============================
.env

# ===============================
# UV / Python Tooling
# ===============================
.uv/
